        <footer id="footer-nav">
            <div class="container">
                <div class="footer-navigation">
                    <div class="footer-section">    
                        <h6>Product</h6>
                        <ul>
                            <li><a href="">Pinterest Marketing</a></li>
                            <li><a href="">Instagram Marketing</a></li>
                            <li><a href="">Tumblr Marketing</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Resources</h6>
                        <ul>
                            
                            <li><a href="">Guides</a></li>
                            <li><a href="">Case Studies</a></li>
                            <li><a href="">Research</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Contact</h6>
                        <ul>
                            <li><a href="">Chat with Us</a></li>
                            <li><a href="">Get in Touch</a></li>
                            <li><a href="">Request a Demo</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Company</h6>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Press</a></li>
                            <li><a href="">Piqora Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Legal</h6>
                        <ul>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">Data Policy</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <ul class="social-icons">
                        <h6>Follow us on</h6>
                        <li><a href=""><img src="/media/img/icon-social-twitter.png" /></a></li>
                        <li><a href=""><img src="/media/img/icon-social-facebook.png" /></a></li>
                        <li><a href=""><img src="/media/img/icon-social-pinterest.png" /></a></li>
                        <li><a href=""><img src="/media/img/icon-social-google.png" /></a></li>
                    </ul>
                </div>
                <p>&copy; 2012–2014 Piqora Inc. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>