<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">

      <title>Piqora</title>

      <link rel="stylesheet" type="text/css" href="/media/stylesheets/main.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic,600italic,700italic,900italic|Bitter' rel='stylesheet' type='text/css'>
  </head>

  <body>
        <div class="homepage-banner">
            <header>
                <h1 class="logo">Piqora</h1>
                <ul class="main-navigation">
                    <li>
                        <a href="">Products</a>
                        <ul class="secondary-navigation product-navigatoin">
                            <li>
                                <a href="/pinterest">
                                    <img src="media/img/icon-network-pinterest.png" />
                                    Pinterest Marketing Suite
                                    <em>See ROI clearly</em>
                                </a>
                            </li>
                            <li>
                                <a href="/instagram">
                                    <img src="media/img/icon-network-instagram.png" />
                                    Instagram Marketing Suite
                                    <em>Engage emotionally</em>
                                </a>
                            </li>
                            <li>
                                <a href="/tumblr">
                                    <img src="media/img/icon-network-tumblr.png" />
                                    Tumblr Marketing Suite
                                    <em>Tell visual stories</em>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Customers</a>
                        <ul class="secondary-navigation product-navigatoin">
                            <li>
                                <a href="">
                                    Our Customers
                                    <em>Hundreds of leading brands</em>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Case Studies
                                    <em>See Real Results</em>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="company">
                        <a href="">Company</a>
                        <ul class="secondary-navigation">
                            <li>
                                <a href="">
                                    Why Piqora?
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Team
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Resources</a>
                        <ul class="secondary-navigation">
                            <li>
                                <a href="">
                                    Whitepapers
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Guides
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Case Studies
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Contact</a>
                        <ul class="secondary-navigation">
                            <li>
                                <a href="">
                                    Request a demo
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Chat with us
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Get in touch
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="jump-navigation">
                        <a href="#footer-nav">Jump to navigation</a>
                    </li>
                </ul>
                <ul class="featured-navigation">
                    <li>
                        <a href="" class="main-cta">Get a demo</a>
                    </li>
                    <li class="login-navigation">
                        <a href="">Login</a>
                    </li>
                </ul>
            </header>